<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 조회</h2>
    </div>

    상품명: <span th:text="${product.name}">상품명</span><br/>
    상품가격: <span th:text="${product.price}">상품가격</span><br/>
    메인사진: <img th:src="|/images/${product.productFile.terminatedFileName}|" width="300" height="300"/></br>
    서브사진: <img th:each="imageFile : ${product.productFile.subFiles}" th:src="|/images/${imageFile.terminatedFileName}|" width="300" height="300"/>
</div> <!-- /container -->
</body>
</html>